.lof-module-newproduct{   
    background:#FFFFFF;margin-bottom:10px;
	border:1px solid #e0e0e0;
	border-top:none;
}
.lof-module-newproduct.default .lof-tabnews-panel{
	position:relative;
	height:40px;
	border-top:4px solid #bb1f35;
}
.lof-module-newproduct.default ul.tabs-panel {
    width: 100%;
	padding:0!important;
	margin:0;
    height:auto;    
}
.lof-module-newproduct.default .tabs-panel li{
    float: left;
	left:0px;
    font-size: 12px;
    padding: 0 2px 0 0;
    text-transform: uppercase;
	position:relative;
    list-style: none;
    line-height: 120%;
	background: none !important;
	color:#bb1f35;
	
}

.lof-module-newproduct.default li.lof-tab a {
    color:#bb1f35 !important;
    float: left;
    text-decoration: none;
    outline: none;
}
.lof-module-newproduct.default .bg-tabs-middle{text-align:left;}
.lof-module-newproduct.default li.lof-tab a.active{
    color:#bb1f35 !important;
    outline: none;
	font:bold 20px 'YanoneKaffeesatz-Regular';
	padding-left:5px;
}
.lof-module-newproduct.default li.lof-tab a.active span.bg-tabs-middle-right{
	font-weight:normal !important;
}
.lof-module-newproduct.default li.lof-tab .remove {
    color: #900;
}

.lof-module-newproduct.default p.content {
    margin: 0 0 1em 0;
    padding: .4em;
    border: 1px #333 solid;
}
.lof-module-newproduct.default .lof-content-tab{
    position:relative;
    height:auto;
    padding: 9px 9px 7px;
    color:#555555;
    
}
.lof-module-newproduct.default .lof-parent-cat-title{
    position: relative;
    padding-bottom: 10px;
}
.lof-module-newproduct.default .lof-content-first-main{
    position: relative;
    padding-bottom:10px;
    border-bottom: 1px #E9E9E9 solid;
}
.lof-module-newproduct.default .lof-content-main{
    position: relative;
    border:0px red solid;
    height:auto;
    margin-right:10px;
   
}
.lof-module-newproduct.default .lof-cols-item{
    position: relative;
    float:left;
}
.lof-module-newproduct.default .lof-content-main-item{
    position: relative;
    float:left;
    padding-bottom:10px;
	padding-left:2px;
}
.lof-module-newproduct.default .lof-tabnews-content{
    position: relative;
}
.lof-module-newproduct.default .lof-content-normal{
    position: relative;
    border: 1px maroon solid;
}
.lof-module-newproduct.default .lof-item-content{
    padding-top: 10px;
	text-align:left;
    position: relative;
    font-size:13px;
}
.lof-module-newproduct.default .lof-main-image{
    border: 1px solid #D3DFED;
    padding: 2px;
    position: relative;
    margin-right:10px;
}
.lof-module-newproduct.default .lof-item-content h4 a{
    color: #333!important;
    text-decoration: none !important;
	font:normal 18px 'YanoneKaffeesatz-Regular' !important;
    
}
.lof-module-newproduct.default .lof-item-content h4 a:hover{
    color:#3B77BF !important;
    background: none !important;
}
.lof-module-newproduct.default .lof-main-description{
    position: relative;
	font-size:11px;
}
.lof-module-newproduct.default .lof-main-description p{
    padding-left:0px !important;
}
.lof-module-newproduct.default .lof-main-description span a{
    text-align: right;
    position: relative;
    float:right;
}
.lof-module-newproduct.default .lof-main-puplic{
    position: relative;
    color:#3B77BF !important;
    text-align: right;
    font-size:11px;
    padding-right:10px;
}
.lof-module-newproduct.default .lof-main-puplic a.lof-detail{
    background: #333333;
    color:#FFFFFF;
    padding:5px 5px;
    float:left;
    position: relative;
}
.lof-module-newproduct.default .lof-main-puplic .lof-add-cart{
    background: url('images/button_marker.gif') no-repeat scroll left center #BA1010;
    color:#FFFFFF;
    padding: 5px 9px 5px 12px;
    width: auto;
    float:left;
    position: relative;
}
.lof-module-newproduct.default .lof-main-puplic span.lof-add-cart{
    color:#FFFFFF !important;
    font-weight:bold;
    text-decoration: none;
    margin: 10px 10px 0 0;
}
.lof-module-newproduct.default .lof-main-puplic a{
    color:#FFFFFF !important;
    font-weight:bold;
    text-decoration: none;
    margin: 10px 10px 0 0;
    font-size:10px !important;
}
.lof-module-newproduct.default .lof-main-puplic a:hover{
    text-decoration: underline !important;
}
.lof-module-newproduct.default .lof-normal-content{
    position: relative;
    float:right;
}
.lof-module-newproduct.default .lof-link-all{
    position: absolute;
    right:10px;
    bottom:5px;
}
.lof-module-newproduct.default .lof-alignright{
    display: inline;
    float: right;
    margin-left: 15px;
    margin-top: 6px;
}
.lof-module-newproduct.default .lof-h-title-normal{
    right:10px;
    padding-bottom: 10px;
}
.lof-module-newproduct.default .lof-h-title-normal h4 a{
    color: #333333 !important;
    font-weight:normal;
    text-decoration: none !important;
    
}
.lof-module-newproduct.default .lof-h-title-normal h4 a:hover{
    color:#3B77BF !important;
    background: none !important;
}
.lof-module-newproduct.default .lofnum{
    border-bottom: 1px dotted #666666;
}
.lof-module-newproduct.default .lof-viewall-category{
    position: relative;
    padding-top:10px;
}
.lof-module-newproduct.default .lof-viewall-category a{
    text-decoration: none !important;
    color: olive;
}
.lof-module-newproduct.default .lof-viewall-category a:hover{
    text-decoration: underline;
    background: none !important;
    color:#3B77BF;
}
.lof-module-newproduct.default .lof-parent-session{
    width:100%;
    height:40px;
}
.lof-module-newproduct.default .lof-parent-cat-title span{
    left: 10px;
    margin-top: 10px;
    position: relative;
    top: 10px;
}
.lof-module-newproduct.default .lof-parent-session a{
    text-decoration: none;
    color:blue !important;
    font-weight:bold;
    font-size:18px;
}
.lof-module-newproduct.default .lof-parent-session a:hover{
    background: none !important;
    text-decoration: underline;
}
.lof-module-newproduct.default .lof-item-list-main{
    position: relative;
    padding-top: 5px;
    border-bottom: 1px solid #E9E9E9;
    display: block;
    float: none;
    padding: 8px 0 8px 2px;
}
.lof-module-newproduct.default .lof-item-list-main h4{
    font-size:15px;
    background: url('images/lof_bullet_white.png') no-repeat left center;
}
.lof-module-newproduct.default .lof-item-list-main h4:hover{
    font-size:12px;
    background: url('images/lof_bullet_red.png') no-repeat left center;
}
.lof-module-newproduct.default .lof-item-list-main h4 a{
    font-size:15px;
    color:#333333 !important;
    padding-left: 15px;
    text-decoration: none;
}
.lof-module-newproduct.default .theme3.lof-item-list-main a{
    text-decoration: none;
    color:#333333;
    font-weight:bold;
    position: relative;
    left:12px;
}
.lof-module-newproduct.default .lof-item-list-main a:hover{
    text-decoration: none;
    background: none !important;
    color:#3B77BF !important;
}
.lof-module-newproduct.default .lof-list-main-description p a img{
    width:80px !important;
}
.lof-module-newproduct.default .lof-hh-item-cols{
    position: relative;
    padding-right: 15px;
}
.lof-module-newproduct.default .lof-content-main-item.ddclass-slider{
    padding-right:20px;
}

.lof-module-newproduct.default .lof-main-item { display:block; width:1000px; position:relative;  float: left;padding:0 !important;background:none!important;}
.lof-module-newproduct.default .lof-prev{
    background: url(images/lof-nav.png) no-repeat scroll left top transparent;
    width:16px;
    height:16px;
    position: relative;
    float:left;
    cursor: pointer;
    outline:none;
    margin: 3px 5px 0 0;
    text-indent: -999em;
    
}
.lof-module-newproduct.default .lof-next{
    background: url(images/lof-nav.png) no-repeat scroll right top transparent;
    width:16px;
    height:16px;
    position: relative;
    float:right;
    cursor: pointer;
    outline:none;
    display: block;
    margin-top: 3px;
    text-indent: -999em;
}
.lof-module-newproduct.default .lof-prev:hover{
    background: url(images/lof-nav.png) no-repeat scroll left bottom transparent;
    width:16px;
    height:16px;
    
}
.lof-module-newproduct.default .lof-next:hover{
    background: url(images/lof-nav.png) no-repeat scroll right bottom transparent;
    width:16px;
    height:16px;
}
.lof-module-newproduct.default .buttons span{
    height:50px;
    width: 100px;
}
.lof-module-newproduct.default .lof-buttons{
    height: 25px;
    position: absolute;
    right: 10px;
    top: -27px;
    width: 40px;
}
.lof-module-newproduct.default .lof-public-item-icon{
    height: 60px;
    position: absolute;
    right: 18px;
    width: 60px;
    z-index: 9999;
}
.lof-module-newproduct.default .lofshowcase-icon.featured-icon{
    background: url(images/featured-item.png) no-repeat scroll right bottom transparent;
    height: 60px;
    position: absolute;
    right: 18px;
    width: 60px;
    z-index: 9999;
}
.lof-module-newproduct.default .lofshowcase-icon.new-icon{
    background: url(images/new-item.png) no-repeat scroll right bottom transparent;
    height: 60px;
    position: absolute;
    right: 18px;
    width: 60px;
    z-index: 9999;
}
.lof-module-newproduct.default .lofshowcase-icon.hot-icon{
    background: url(hot-item.png) no-repeat scroll right bottom transparent;
    height: 60px;
    position: absolute;
    right: 18px;
    width: 60px;
    z-index: 9999;
}
.lof-module-newproduct.default .lof-container{
    position: relative;
    overflow: hidden;
    height: auto;
}
.lof-module-newproduct.default .lof-price-contain{
    font-weight: bold;
    overflow: hidden;
    padding-top:10px;
    position: relative;
    width: 100%;
	padding-right:10px;
}
.lof-module-newproduct.default .lof-reating{
    overflow: hidden;
    padding-top: 5px;
    position: relative;
    width: 100%;
}
.lof-module-newproduct.default .lof-price{
    /*float:left;*/
}
.lof-module-newproduct.default .lof-price-contain .lof-price b{
    color:#666;
	font:bold 18px 'Arial';
}
.lof-module-newproduct.default .lof-price-contain .lof-price b s{
    color: #7E7E7E;
}
.lof-module-newproduct.default .lof-reatingdetail, .count_commentar{
    float:left !important;
}
.lof-module-newproduct.default .lof-reatingdetail{
    margin-right:10px;
}
.lof-module-newproduct.default .product_label{
	position:relative;
	margin:0 auto;
}
.lof-module-newproduct.default .lof-add-cart{
	background: url(images/cart.png) no-repeat scroll 0 -3px transparent;
    float:left;
    width:100%;
	font:11px 'Arial';
	text-decoration:none;
	text-align:left;
	margin-top:10px;
}
.lof-module-newproduct.default .lof-tools-opacity{position:relative;padding-top:10px;text-align:left;}
.lofbtnextpre{
	background:url(images/arrow.png) no-repeat scroll left top transparent;
	height: 25px;
    position: absolute;
    right: 0;
    top: -40px;
    width: 58px;
}
.lofbtnextpre .lof-new-pre a{
	background: url(images/arrow.png) no-repeat scroll left top transparent;
    cursor: pointer;
    float: left;
    height: 24px;
    outline: medium none;
    position: relative;
    text-indent: -999em;
    width: 28px;
}
.lofbtnextpre .lof-new-pre:hover a{
	background: url(images/arrow.png) no-repeat scroll left bottom transparent;
}
.lofbtnextpre .lof-new-next:hover a{
	background: url(images/arrow.png) no-repeat scroll right bottom transparent;
}
.lofbtnextpre .lof-new-next a{
	background: url(images/arrow.png) no-repeat scroll right top transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 24px;
    outline: medium none;
    position: relative;
    text-indent: -999em;
    width: 28px;
}
/*--------- tooltip */
.tooltip {
	display: none;
	background:url(images/tooltip_bg_up.png) no-repeat;
	width:431px;
	height:225px;
	padding:10px 12px 23px 10px;
	z-index:9999}

.tooltip.bottom {
	background:url(images/tooltip_bg_bot.png) no-repeat;
	padding:23px 12px 10px 10px;}
 
.lof-tooltip-image{
    
}
.tooltip .lof-tools-opacity{
    position: relative;
    height:35px;
    color:#FFFFFF;
    font-size: 14px;
    padding-top:10px;
}
.tooltip .lof-tools-opacity h4 a{
    
    color:#FFFFFF;
    font-weight:bold;
    text-align: left;
    text-decoration: none;
    float:left;
    padding-right:10px;    
    font-size:12px;
    text-transform: uppercase;
}
.lof-module-newproduct.default .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.lof-module-newproduct.default .ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.lof-module-newproduct.default .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.lof-module-newproduct.default .ui-tabs .ui-tabs-hide { display: none !important; }
.lof-module-newproduct.default .ui-tabs-selected.ui-state-active a{
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #333333;
    height: 24px;
    padding: 7px 10px 9px 9px;
    outline: none;
}


/*add style for lof box*/
.lof-module-newproduct.default .lof-box-tools .product_label .image {cursor:pointer;position:absolute;top:0;left:0;z-index:9999;}
.lof-module-newproduct.default .lof-box-tools .product_label.open .image {height:auto;width:300px;top:0px;left:-20px;z-index:99999;}
.lof-module-newproduct.default .lof-box-tools .product_label .hover {position:absolute;bottom:0;right:0;display:block;width:40px;height:40px;background:url(images/offerta_open_hover.gif) no-repeat left top;cursor:pointer;z-index:999999;}
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text {display:none;position:absolute;background:url(images/offerta_open_bg.png);height:100%;width:100%;z-index:999999;overflow:hidden;color:#fff;}
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text .close {position:absolute;top:0;right:0;display:block;width:40px;height:40px;background:url(images/offerta_open_close.gif) no-repeat left top;cursor:pointer;}
.lof-module-newproduct.default .lof-box-tools .product_label.open .lof-content-tools-text {display:block;top:0px;left:0px;z-index: 4;}
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text h4{
    font-size: 14px;
    text-transform: uppercase;
    font-weight:bold;
    margin-top:12px!important;
}
.lof-module-newproduct.default .lof-box-tools .lof-content-tools-text  > h4,
.lof-module-newproduct.default .lof-box-tools .lof-content-tools-text > div{
    margin:0 12px;
 }
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text .box-price{
    position: relative;
    background: none repeat scroll 0 0 #AE2E7F;
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    line-height: 42px;
    margin-right: 6px;
    padding: 2px 10px;
    margin-top:15px;
}
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text .box-detail{
    position: relative;
    padding-top:15px;
    
}
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text .box-detail a{
    background: url('images/lof_plus.gif') no-repeat scroll right center #721F53;

    float:left;
}
.lof-module-newproduct.default .lof-box-tools   .box-detail a,  .lof-box-tools .add_cart a {
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 10px;
    padding: 4px 24px 4px 7px !important;
    text-decoration: none;
    text-transform: uppercase; 
 }
.lof-module-newproduct.default .lof-box-tools .product_label .lof-content-tools-text .add_cart a{
    background: url('images/button_next.gif') no-repeat scroll right center #90C13E;
    float:right;
}
.lof-module-newproduct.default .lof-price-discount{
    text-decoration: line-through;
}
/* Sample 2*/
#lof-cols-item-cat{
	position:relative;
}
#lof-cols-item-cat span{
	display:block;
	float:left;
}.clr{ clear:both; }





div.lofcontrol{
	position: absolute;
    right: 5px;
    top: -40px;
}
div.lofcontrol > ol > li{
	background: url("images/arrow-button.jpg") no-repeat scroll 0 2px transparent;
    float: left;
    height: 11px;
    list-style: none outside none;
    width: 12px;
	text-indent:-9999em;
	cursor: pointer;
}
div.lofcontrol > ol > li.current{
	background-position: 0px -9px;
	height:14px;
	width:14px;
}
