
 .lof-breaking-news.basic{
    height:34px !important; line-height: 32px;
	width: 100% !important;
	float: left;
 }
 .lof-breaking-news.basic > .lofflexslider > ul > li > a{
    text-decoration: none;
 }
 
 .lofflexslider-news{width: 70% !important;height: 32px !important;min-height: 32px !important;float:left;}
  .lofflexslider-news a{color: #fff !important;font: normal 12px arial!important;}
.basic .lofslideshow-container {width: 100%; float: right; position: relative;}
.basic .lof-slideshow-bd{
    width:100%;
    margin:0 auto;
}

div.hotline{
	background: none repeat scroll 0 0 #2D2D2D;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    float: right;
    height: 31px;
    margin-top: 3px;
    padding-left: 10px;
    width: 220px;
}
div.hotline span{color: #fff; font: 13px arial; text-transform: uppercase;}
div.hotline strong{
	color: #E09B1C;
    font: bold 18px arial;
    padding-left: 10px;
}
